<div class="chat">
    <div class="chat__title">Чат с Любой Мамонтовой</div>
    <div class="chat__content">
        <div class="chat__content-wrapper"  itemscope itemtype="http://schema.org/ImageGallery">

            <ng-container *ngFor="let message of messages | async">

                <div class="message" [ngClass]="{ 'message-from': message.sentBy === 'bot',
                                    'message-to':   message.sentBy === 'user' }">
                    {{ message.content }}
                </div>

            </ng-container>
            <div id="anchor"></div>
        </div>
    </div>
    <div class="chat__footer">
        <input type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()" class="chat__text">
        <button class="chat__send" (click)="sendMessage()" [disabled]="!formValue">
            <i class="material-icons">send</i>
        </button>
    </div>


    <div class="help">
        <div class="help__title">Что я умею:</div>
        <div class="help__list">
            <button (click)="sendMessage('Интересные экспонаты музея')" class="help__list-item">Интересные экспонаты музея</button>
            <button (click)="sendMessage('Время работы музея')" class="help__list-item">Время работы музея</button>
            <button (click)="sendMessage('Давай сыграем в увлекательную игру')" class="help__list-item">Давай сыграем в увлекательную игру</button>
        </div>
    </div>
</div>
