
.chat {
  max-width: 600px;
  margin: auto;
  background: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.chat__title {
  text-align: center;
  font-size: 1.3rem;
  padding: 8px;
  position: absolute;
  background: #f5f5f5c9;
  z-index: 1;
  width: 100%;
}

.chat__content {
  height: 100%;
  overflow: hidden;
}

.chat__content-wrapper {
  height: 100%;
  padding: 50px 16px 16px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat__content-wrapper * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  min-height: 1px;
  height: 1px;
}

.chat__footer {
  padding: 16px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

.chat__text {
  font-size: 1rem;
  width: 100%;
  border-radius: 16px;
  padding: 8px 16px;
  border: 1px solid black;
}

.chat__send {
  border: none;
  background: none;
  margin-left: .7rem;
  cursor: pointer;
}

.message {
  max-width: 70%;
  border-radius: 6px;
  margin: 0 15px 15px;
  padding: 16px 20px;
  position: relative;
  animation: fade .6s;
  word-wrap: break-word;
}

.message-from {
  background-color: #ffffff;
  margin-right: auto;
  margin-left: 80px;
}

.message-from::before {
  content: '';
  background: url("../../../assets/bot-avatar.jpg");
  width: 70px;
  height: 70px;
  display: block;
  background-size: contain;
  border-radius: 50%;
  position: absolute;
  left: -80px;
  top: 0;
}

.message-to {
  background-color: #E5E4E9;
  margin-left: auto;
}

.message__gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.message__gallery .img {
  min-width: 100px;
  min-height: 100px;
  flex: 1;
  margin: 4px;
  display: block;
  -o-object-fit: fill;
  object-fit: fill;
}

img {
  display: block;
  max-width: 100%;
}

@keyframes fade {
  0% {
    opacity: 0;
    top: 5px;
  }
  50% {
    opacity: 1;
    top: 0;
  }
}